
TestProjectCGleb/.vs/TestProjectCGleb/v16/.suo
TestProjectCGleb/TestProjectCGleb.sln
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/TestProjectCGleb.AssemblyInfo.cs
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/TestProjectCGleb.AssemblyInfoInputs.cache
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/TestProjectCGleb.assets.cache
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/TestProjectCGleb.csproj.AssemblyReference.cache
TestProjectCGleb/TestProjectCGleb/obj/Debug/netcoreapp3.1/TestProjectCGleb.GeneratedMSBuildEditorConfig.editorconfig
TestProjectCGleb/TestProjectCGleb/obj/project.assets.json
TestProjectCGleb/TestProjectCGleb/obj/project.nuget.cache
TestProjectCGleb/TestProjectCGleb/obj/TestProjectCGleb.csproj.nuget.dgspec.json
TestProjectCGleb/TestProjectCGleb/obj/TestProjectCGleb.csproj.nuget.g.props
TestProjectCGleb/TestProjectCGleb/obj/TestProjectCGleb.csproj.nuget.g.targets
TestProjectCGleb/TestProjectCGleb/TestProjectCGleb.csproj
